<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"   
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <context:component-scan base-package="org.mnr.aop"/>
   <aop:aspectj-autoproxy/>
   <bean id="circle" class="org.mnr.aop.model.Circle">
   	<property name="name" value="circle_1"/>
   </bean>
	<bean id="triangle" class="org.mnr.aop.model.Triangle">
   	<property name="name" value="triangle_1"/>
   </bean> 
<!--    <bean id="rectangle" class="org.mnr.aop.model.Rectangle">
   	<property name="name" value="rectangle_1"/>
   </bean>  -->  		
   <bean id="shapeService" class="org.mnr.aop.service.ShapeService" autowire="byName"/>
   <bean id="loggingAspect" class="org.mnr.aop.aspect.LoggingAspect"/>
   <bean id="s2_ClassLevelPointCuts" class="org.mnr.aop.aspect.S2_ClassLevelLoggingAspect"/>
</beans>  